


$base-color:#333;

$base-font-size:15px;

$base-font: 'Prata', serif;

$heading-font: 'Open Sans', sans-serif;

$small-head-font: 'Tangerine', cursive;

$font-bold:700;

$theme-color:#c1a35f;

$secondary-color:#F7931D;



